.dogs-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;

  .card {
    width: 345px;
    height: 400px;
    margin: 20px;
    display: flex;
    flex-direction: column;

    &.adopted {
      opacity: 0.5;
    }

    .card-image {
      height: 200px;
    }

    .card-content {
      p {
        font-size: 13px;
      }

      .attributes {
        color: #828282;
        padding-bottom: 3px;
      }

      .description {
        max-height: 100px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    .card-actions {
      margin-top: auto;
      justify-content: flex-end;

      button.adopt {
        border: none;
        cursor: pointer;
        letter-spacing: 0.6px;
        font-weight: 600;
        font-size: 14px;

        &.adopted {
          pointer-events: none;
        }
      }
    }
  }
}
