body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #728DA5;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

h3, p {
  margin: 10px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dog-cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
